{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-z0vwZ0dZ8zYkI9Tyj3BeWm6tjTnPYJO76exaC6dqnCvIq3vimcHZP2d7hWbH7kf8" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}Notes App{% endblock %}</title>
</head>
<body>
    {% include "partials/navbar.html" %}
    {% block content %}

    {% endblock %}
    {% include "partials/footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-I4H5XeHhXZ8u4cC8jFQiW9jZ7Uo+y7+zqH5TJjxp+DyTPYI5c/VUjRB+O5DuP6Hy" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>